@tailwind base;
@tailwind components;
@tailwind utilities;

.button{
    @apply 
    bg-sky-700 
    text-white 
    font-serif 
    rounded-md 
    hover:italic 
    hover:bg-sky-900 
    active:font-serif 
    active:bg-black 
    p-1 
    mt-2
}

.outputData{
    @apply 
    w-80 
    border-2 
    border-sky-200  
    bg-gradient-to-r from-cyan-700 to-blue-500
    rounded-3xl
    hidden
}

.displayOutputData{
    @apply block
    text-white
    text-center
    p-2
    font-mono
    font-bold
}

.para{
    @apply 
    p-3 
    text-center
    text-white
    font-mono
}


.parentDropDown{
   @apply
    h-32
    w-44
    bg-sky-600
    overflow-y-scroll
    scrollbar-thin
    scrollbar-thumb-blue-200
    scrollbar-track-transparent
    hidden
}

.childDropDown{
    @apply
    font-normal
    p-0.5
    pl-1.5
    font-mono
    hover:bg-sky-700
    text-white 
}

.displayParent{
    @apply
     block
}


.forecastParent{
    @apply
     mt-10
}

.forecastPara{
    @apply
    p-3 
    text-center
    text-white
    font-mono
    bg-sky-700
}