.dropdown{
    background-color: rgb(209, 91, 12);
    font-style: oblique;
    width: 170px;
    text-align: center;
    color: white;
    display: none;
}

.dropdownItems{
    margin-top: 1px;    
}

.parentDropDown{
    height: 150px;
    overflow: scroll;
    scrollbar-color: gray;
    scrollbar-width: 3px;
    width: 150px;
}





